{% extends "interviews/base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-5">
        <h2>Edit Interview</h2>
    </div>
</div>
<hr>
<div class="row mt-5">
    <div class="col-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <label>Partipant One: </label>
                <select name = "participant_one">
                    <option value="None">None</option>
                        {% for part in participants %} 
                        {% if part.name == participant.candidate_one.name %}
                            <option value="{{part.name}}" selected>{{ part.name }}</option>
                        {% else %}
                            <option value="{{part.name}}">{{ part.name }}</option>
                        {% endif %}
                        {% endfor %}      
                </select><br>
            </div>
            <div class="form-group">
                <label>Partipant Two: </label>
                <select name = "participant_two">
                    <option value="None">None</option>
                        {% for part in participants %} 
                        {% if part.name == participant.candidate.two.name %}
                            <option value="{{part.name}} selected">{{ part.name }}</option>
                        {% else %}
                            <option value="{{part.name}}">{{ part.name }}</option>
                        {% endif %}
                        {% endfor %}   
                </select><br>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<script>
    document.getElementById("date").valueAsDate = new Date();
    document.getElementById("start_time").defaultValue = "{{ interview.start_time }}";
</script>
{% endblock %}